:root {
  --max-width: 960px;

  --palette-primary: #4880ee;
  --palette-red: #e84118;
  --palette-gray: #dadada;
  --palette-light-gray: #f2f4f6;
  --palette-white: #fff;
  --palette-black: #222;

  --text-primary: #353c49;
  --text-secondary: #6d7582;
  --text-subtitle: #8d94a0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
menu,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font: 14px/1.5 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Malgun Gothic', '맑은 고딕', sans-serif;
  color: var(--text-primary);

  .rt-Button {
    border-radius: 8px;
    gap: 5px;
    white-space: nowrap;

    svg.lucide {
      flex-shrink: 0;
    }

    &.rt-r-size-4 {
      min-width: 115px;
      padding-inline: 15px;
      font-size: 16px;
    }

    &.rt-variant-solid {
      background: var(--palette-primary);
    }
    &.rt-variant-soft {
      background: var(--palette-light-gray);
    }
  }

  .rt-SelectIcon {
    fill: #b1b8c0;
  }

  .radix-themes:where([data-is-root-theme='true']) {
    min-height: auto;
  }
}

ul,
ol,
menu {
  list-style: none;
}

img,
svg {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

address,
em,
i {
  font-style: normal;
}

button {
  all: unset;

  box-sizing: border-box;

  &:focus-visible {
    outline: 1px auto -webkit-focus-ring-color;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
button,
label {
  -webkit-tap-highlight-color: transparent;
}

label {
  cursor: pointer;
}

table[class] {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

summary {
  cursor: pointer;

  &::-webkit-details-marker,
  &::marker {
    display: none;
    content: '';
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  -webkit-text-fill-color: var(--text-subtitle);
  font-weight: 500;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 12px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
